In [3]:
age=int(input("Give your age"))
#age=18
if age>=18:
    print("Adult")
else:
    print("Not adult")

Give your age 18

Adult

In [8]:
mark=100
if mark>=90 and mark<=100:
    print("A+")
elif mark>=85 and mark<90:
    print("A")
else:
    print("B+")

A+

In [9]:
a=int(input("Please enter 1st number :"))
b=int(input("Please enter 2nd number :"))
sum=a+b
print(sum)

Please enter 1st number : 3
Please enter 2nd number : 2

5

In [11]:
# range
for i in range(11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [12]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [13]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [15]:
for i in range(10,2,-2):
    print(i,end=" ")

10 8 6 4

In [20]:
#break
s = 'gooksforgeeks'
# Using for loop
for letter in s:

    print(letter)
    # break the loop as soon it sees 'e'
    # or 's'
    if letter == 'e' or letter == 's':
       # print(letter)
        break #condition meet and out of it

print("Out of for loop")
print()

g
o
o
k
s
Out of for loop

In [24]:
for i in range(1,11):
  if i>=5:
    break # true then break and continue then continue
  print(i,end=" ")

1 2 3 4

In [25]:
# Python program to demonstrate
# break statement with nested
# for loop

# first for loop
for i in range(1, 5):
  
    # second for loop
    for j in range(2, 6):
      
        # break the loop if
        # j is divisible by i
        if j%i == 0:
            break
            
        print(i, " ", j)

3   2
4   2
4   3

In [27]:
# continue for particular part means itetion
# Python program to
# demonstrate continue
# statement

# loop from 1 to 10
for i in range(1, 11):

    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 6: # only true condition will be skip and will check all the conditions
        continue
    else:
        # otherwise print the value
        # of i
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

In [28]:
# continue for particular part means itetion
# Python program to
# demonstrate continue
# statement

# loop from 1 to 10
for i in range(1, 11):

    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 6: # only true condition will be skip and will check all the conditions
        break
    else:
        # otherwise print the value
        # of i
        print(i, end = " ")

1 2 3 4 5

In [35]:
for i in range(12):#out of loop
    if i==10:
        break
    print(i+1,end=" ")
print("\n")
for i in range(12):
    if i==10:
        continue #out of particular iteration
    print(i+1,end=" ")

1 2 3 4 5 6 7 8 9 10

1 2 3 4 5 6 7 8 9 10 12

In [43]:
list=[1,2,4,3]
list.append(5)
print(list)

list.reverse()
print(list)

list.sort()
print(list)

list.sort(reverse=True)
print(list)

list1=[1,2,3,4,1,5,6,3]
list1.count(1)

[1, 2, 4, 3, 5]
[5, 3, 4, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

2

In [47]:
list1=[1,2,3,4,1,5,6,3]
list1.reverse()
print(list1)
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)
print(list1[0])

[3, 6, 5, 1, 4, 3, 2, 1]
[1, 1, 2, 3, 3, 4, 5, 6]
[6, 5, 4, 3, 3, 2, 1, 1]
6

In [50]:
list1=[1,2,3,4,1,5,6,3]
print(len(list1))
print(list1[1])
for i in range(len(list1)):
  print(list1[i], end=" ")
print()
list1=[1,2,3,4,1,5,6,3]
print(list1[2:])

list1=[1,2,3,4,1,5,6,3]
print(list1[2:5])

list1=[1,2,3,4,1,5,6,3]
print(list1[:5])

8
2
1 2 3 4 1 5 6 3
[3, 4, 1, 5, 6, 3]
[3, 4, 1]
[1, 2, 3, 4, 1]

In [51]:
#tuple

# tuple in python
t=(10,20,30)
print(t[0])

t=(10,20,30)
for i in range(len(t)):
  print(t[i])

10
10
20
30

In [68]:
# matrix or 2D array means list of list
m=[
    [1,2,3,4],
    [5,6,7,8]
]
print(len(m)) # return row number
print(len(m[0]))# return column number
for i in range(len(m)):
    for j in range(len(m[0])):
        print(m[i][j],end=" ")
    print()

print()
#####
row=len(m)
column=len(m[0])
print(row)
print(column)
############
for i in m:
    print(i)

2
4
1 2 3 4
5 6 7 8

2
4
[1, 2, 3, 4]
[5, 6, 7, 8]

In [67]:
row=4
column=2
m=[]
for i in range(row):
  c=[]
  for j in range(column):
    c.append(0)

  m.append(c)

print(m)
for i in m:
  print(i)

[[0, 0], [0, 0], [0, 0], [0, 0]]
[0, 0]
[0, 0]
[0, 0]
[0, 0]

In [69]:
#2d user input

row=int(input("row"))
column=int(input("column"))
m=[]
for i in range(row):
  c=[]
  for j in range(column):
    value=int(input("data"))
    c.append(value)

  m.append(c)

for i in m:
  print(i)

row 2
column 2
data 1
data 2
data 3
data 4

[1, 2]
[3, 4]

In [72]:
# identiy matrix
row = 4
column = 4
m = []

for i in range(row):
  c = []
  for j in range(column):
    if i == j:
      c.append(1) # Place 1 on the diagonal
    else:
      c.append(0) # Place 0 elsewhere
  m.append(c)
for i in m:
    print(i)

[1, 0, 0, 0]
[0, 1, 0, 0]
[0, 0, 1, 0]
[0, 0, 0, 1]

In [73]:
#random 3 methods
import random
for i in range(100):
  print(random.randint(1,100), end=" " )

64 89 66 27 74 91 54 24 44 93 47 33 30 20 73 9 51 97 96 7 67 67 19 31 92 88 90 88 24 29 5 88 16 22 26 89 53 77 44 17 16 13 37 47 6 18 81 1 86 5 13 95 38 93 82 6 55 6 61 9 61 91 79 13 42 15 99 8 83 62 92 16 66 23 28 84 74 67 33 33 18 58 88 60 25 14 52 71 49 76 22 58 32 14 47 29 60 47 66 50

In [76]:
import random
random_numbers = []  # Create an empty list to store the values
for i in range(100):
  random_numbers.append(random.randint(1, 100))

print(random_numbers)
len(random_numbers)

[4, 33, 84, 1, 29, 15, 41, 59, 70, 41, 97, 24, 94, 40, 39, 34, 21, 24, 51, 63, 20, 75, 84, 92, 68, 63, 77, 90, 98, 38, 68, 4, 14, 97, 47, 27, 47, 47, 84, 27, 10, 96, 56, 22, 34, 20, 21, 10, 15, 29, 45, 18, 33, 35, 91, 3, 31, 53, 78, 18, 83, 4, 69, 25, 15, 51, 31, 83, 35, 47, 3, 47, 79, 79, 26, 39, 75, 34, 65, 84, 19, 18, 59, 13, 66, 88, 15, 66, 100, 45, 4, 41, 86, 10, 28, 84, 22, 12, 11, 82]

100

In [81]:
# choice choose any one and every time it changes
dice=[1,2,3,4,5,6]
throughDice=random.choice(dice)
print(throughDice)

3

In [85]:
dice=[1,2,3,4,5,6]
storelist=[]
for i in range(100):
  storelist.append(random.choice(dice))
print(storelist,end=" " )

print()
dice=[1,2,3,4,5,6]
for i in range(100):
  throughDice=random.choice(dice)
  print(throughDice,end=" " )

[3, 4, 3, 5, 3, 6, 4, 3, 1, 5, 3, 6, 3, 2, 4, 4, 6, 2, 2, 1, 1, 2, 4, 2, 5, 6, 5, 4, 3, 6, 2, 5, 5, 3, 1, 4, 4, 3, 4, 6, 5, 4, 3, 3, 3, 4, 2, 4, 3, 6, 4, 5, 6, 6, 4, 5, 6, 3, 1, 2, 4, 5, 4, 5, 1, 5, 3, 1, 4, 5, 6, 6, 5, 6, 6, 2, 2, 3, 4, 3, 2, 1, 5, 3, 3, 5, 2, 3, 4, 5, 4, 2, 2, 4, 1, 2, 2, 2, 5, 3]
1 5 6 4 3 6 4 2 1 6 5 2 5 5 6 5 6 2 3 4 1 1 3 6 2 6 5 5 1 6 6 2 3 6 3 6 6 3 3 4 5 6 1 1 3 2 6 6 5 5 1 6 2 4 6 5 4 6 4 6 6 4 5 3 3 5 4 5 2 2 2 6 4 4 4 5 1 6 6 5 6 3 4 2 3 3 6 4 3 2 3 4 5 4 6 5 2 2 5 2

In [89]:
#dna sequence create
c=['A','C','G','T']
dna=''
for i in range(100):
    dna=dna+random.choice(c)

print(dna)
print(len(dna))

TCAGAAATACGATACAACATTGCCCCGTGACCGCACTGGCTGTTATCTGACTCTGGAATAAGGAACTACAGCAGCCCTAGACACCGTCTTCAAGGACCAA
100

In [90]:
ch=['A','C','G','T']
dna=[]
for i in range(100):
  dna.append(random.choice(ch))

print(dna)
dna.count("A")

['T', 'T', 'C', 'T', 'T', 'G', 'T', 'T', 'A', 'C', 'T', 'C', 'T', 'C', 'G', 'T', 'G', 'C', 'G', 'T', 'T', 'T', 'T', 'G', 'T', 'G', 'G', 'A', 'A', 'G', 'A', 'T', 'A', 'T', 'A', 'T', 'G', 'T', 'G', 'G', 'G', 'A', 'C', 'C', 'T', 'T', 'A', 'G', 'A', 'G', 'T', 'T', 'G', 'G', 'T', 'C', 'A', 'A', 'G', 'T', 'C', 'T', 'A', 'C', 'G', 'T', 'A', 'C', 'A', 'G', 'A', 'C', 'A', 'T', 'A', 'T', 'C', 'A', 'C', 'A', 'T', 'C', 'C', 'T', 'C', 'C', 'T', 'A', 'A', 'C', 'A', 'A', 'G', 'C', 'T', 'A', 'A', 'A', 'G', 'A']

27

In [91]:
# konta kota ber ase oita ber kora
ch=['A','C','G','T']
dna=[]
for i in range(100):
  dna.append(random.choice(ch))

dna_count={} #dic key:value
for i in range(len(ch)):
  dna_count[ch[i]]=dna.count(ch[i])

print(dna_count)

{'A': 23, 'C': 25, 'G': 23, 'T': 29}

In [92]:
dice=[]
for i in range(100):
  dice.append(random.randint(1,7))
print(dice)

[3, 6, 4, 1, 3, 4, 2, 4, 1, 2, 1, 7, 3, 4, 3, 5, 6, 6, 1, 2, 1, 1, 7, 4, 3, 2, 4, 1, 3, 6, 7, 5, 1, 2, 5, 2, 1, 5, 5, 2, 3, 6, 6, 7, 4, 1, 3, 3, 7, 7, 5, 6, 1, 4, 6, 3, 6, 6, 3, 5, 7, 4, 4, 1, 3, 1, 7, 2, 1, 2, 6, 1, 7, 7, 4, 7, 2, 4, 4, 4, 6, 4, 6, 2, 3, 3, 3, 3, 5, 4, 6, 5, 6, 2, 6, 2, 3, 7, 6, 7]

In [98]:
#function
def f(x):
        x*2

number=10
print(f(number))

None

In [99]:
def f(x):
    x * 2  # No return statement

number = 10
print(f(number))

None

In [100]:
# double return from one function advantage
def f1(x,y):
  return x+y, x-y

add, sub=f1(10,20)
print(add)
print(sub)

# advantage
def f1(x=100,y=200):# default  advantge
  return x+y, x-y

add, sub=f1(10) # can pass anyone or one 
print(add)
print(sub)

30
-10
210
-190