In [ ]:
#built in data types
'''
Text Type:	     str
Numeric Types:	 int, float, complex
Sequence Types:	 list, tuple, range
Mapping Type:	 dict
Set Types:	     set, frozenset
Boolean Type:	 bool
Binary Types:	 bytes, bytearray, memoryview
None Type:	     NoneType
'''

In [1]:
x=5
print(type(x))

<class 'int'>

In [3]:
x=3+2j
print(type(x))

<class 'complex'>

In [4]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
y=10E2
print(type(y))

<class 'float'>

In [6]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [8]:
x=4
a=complex(x)
print(x)
print(a)
print(type(x))
print(type(a))

4
(4+0j)
<class 'int'>
<class 'complex'>

In [9]:
x=4j
a=float(x)

TypeError: float() argument must be a string or a real number, not 'complex'

In [16]:
# Random number
import random
print(random.randrange(1,10))

1

In [31]:
#casting 
a="39"
x=float(a)
print(x)
z=float(2.8)
print(z)
v=float(1)
print(v)

r=int(1234.67)
print(r)
t=int("39")#3.90 showa error
print(t)

39.0
2.8
1.0
1234
39

In [34]:
r=int("30.30")# int() works with whole number
print(r)
t=int("39")#3.90 showa error
print(t)

ValueError: invalid literal for int() with base 10: '30.30'

In [35]:
r = int(float("30.30")) # float contains only numeric string values only . and e/E is 
print(r)

30

In [37]:
 r=float("10E3")
print(r)

10000.0

In [43]:
# string conversion
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
q=2+4j
w=str(q)
print(w)
print(x)
print(z)
print(z=str(2j))

(2+4j)
s1
3.0

TypeError: 'z' is an invalid keyword argument for print()

In [45]:
# string "HI" and 'HI' are the same
print("HI")
print('HI')

HI
HI

In [50]:
print("It's alright")
print("He is called 'Mahin'")
print('He is called "Mahin"')
#print("My name"is" ")
#print('My name'is' ')

It's alright
He is called 'Mahin'
He is called "Mahin"

In [54]:
#print multiline in string variable
x="""My name is atul ,
i am a student
"""
print(x)

y='''hi there what,
seriously00'''
print(y)

My name is atul ,
i am a student

hi there what,
seriously00

In [67]:
# string as an array but these is differences 
h="My name is Atul"
print(h[0])
for char in h:
    print(char, end='')
#h[0]="H" it is immutable means we can not directly modify the string
 # how to modify
print("\n")
x="hello"
print(x)
x="H"+x[1:] #x[1:] is "ello" concatanation
print(x)

M
My name is Atul

hello
Hello

In [68]:
x = "hello"
x = x.replace("h", "H", 1)  # Replace only the first occurrence of "h"
print(x)  # Output: "Hello"


x = "hello"
x_list = list(x)   # Convert to list: ['h', 'e', 'l', 'l', 'o']
x_list[0] = "H"    # Change the first element
x = "".join(x_list) # Join back into a string
print(x)  # Output: "Hello"


x = "hello"
x = f"H{x[1:]}"
print(x)  # Output: "Hello"

Hello
Hello
Hello

In [85]:
#length of string 
x="Hello, world!"
print(len(x))

#check string character-wise / partia match/ whole word but case-sensitive
print("Hello" in x)
print("ello, " in x) # Flase for "hello"

#Use it in an if statement:   character-wise / partia match/ whole word but case-sensitive
txt= "Python is awasome"
if "Python" in txt:
    print("Yes present")

# Check if NOT           character-wise / partia match/ whole word but case-sensitive
txt = "The best things in life are free!"
print("Best" not in txt) 

#Use it in an if statement:    character-wise / partia match/ whole word but case-sensitive
txt = "The best things in life are free!"
if "Best" not in txt:
  print("No, 'Best' is NOT present.")

13
True
True
Yes present
True
No, 'Best' is NOT present.

In [91]:
#Slicing String
x="My name is 'Atul'"
print(x[2:6]) # 2 to 5
print(x[:3])
print(x[1:])

 nam
My
y name is 'Atul'

In [1]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [14]:
#modify string
x="Hello, world!"
print(x.lower())
print(x.upper())
y="   My name , is aAtul   "# just strip() method removes any whitespace from the beginning or the end
print(y.strip())
print(y.replace("a","M")) # replace all the simillar values
print(y.split("a"))       # spilt all the simillar values

hello, world!
HELLO, WORLD!
My name , is aAtul
   My nMme , is MAtul
['   My n', 'me , is ', 'Atul   ']

In [17]:
#concatanation
a="Hello"
b="World"
c=a+" "+b
print(c)

Hello World

In [28]:
#F-string format
a= 23
b=f"My age is {a}" # placeholder
print(b)

price=f"It is {a} taka in price" # placeholder
print(price)

price=f"It is {a:2f} taka in price" #Display the price with 2 decimals:
print(price)

price=f"It is {2*2} taka in price" #Display the price with 2 decimals: and can also perform math operation
print(price)

My age is 23
It is 23 taka in price
It is 23.000000 taka in price
It is 4 taka in price

In [3]:
#escape character
txt="He is calld the \"Viking\" of the east"
print(txt)

He is calld the "Viking" of the east

In [7]:
#boolean
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [9]:
# by condition
a=9
b=10
if(a>b):
    print("a is grater than b")
else:
    print("b is greater than a")

b is greater than a

In [20]:
print(bool("Hello"))# non empty means true
print(bool(15))
print(bool()) #  empty means false
x="Hello"
y=None
print(bool(x))
print(bool(y))

True
True
False
True
False

In [21]:
my_variable = None
print(my_variable is None)  # Output: True

my_variable = ""
print(my_variable is None)   # Output: False
print(my_variable == "")      # Output: True

True
False
True

In [24]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [25]:
# False values
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False