In [2]:
p=True

q=True

print(p and not q)
q

False

In [8]:
p = True
q = False
r = False

result = p and (not r)
print(result)   # Output: False
print(p != r)

SyntaxError: invalid syntax (3002583746.py, line 5)

In [10]:
a = 5
b = 5
print(a != b)   # Output: True, because 5 is not equal to 10
   # Output: False, because 5 is equal to 5

False

In [13]:
def cal(a,b):
    print("Add",a+b)
    print("Sub",a-b)
    

cal(1,2)

Add 3
Sub -1

In [15]:
def cal(a,b):
    c=a+b
    print("Add",c)
    #print("Sub",a-b)
    

cal(1,2)

Add 3

In [16]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [17]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [24]:
def cal(a,b):
    c=a+b
    print("Add",c)
    #print("Sub",a-b)
    

cal("m","n")
cal(1,3)
cal("m",str(6))

Add mn
Add 4
Add m6

In [25]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [26]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [32]:
def sum1(*a):
    print("Sum", sum(a))  # Use the built-in sum() function

sum1(1, 2, 3)

RecursionError: maximum recursion depth exceeded

In [35]:
from builtins import sum

def sum1(*a):
    print("Sum", sum(a))

sum1(1, 2,3,4)

Sum 10

In [37]:
def sum1(*a):
    total = 0  # Initialize a variable to hold the sum
    for number in a:  # Loop through each argument
        total += number  # Add the number to total
    print("Sum", total)  # Print the result

sum1(1, 2, 3)  # Output: Sum 6
sum1(4, 5,3,4,5)     # Output: Sum 9

Sum 6
Sum 21

In [38]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [40]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [41]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [1]:
def cal(value,by):
    return value+by

print(cal(10,by=1))

11

In [4]:
def cal(value,by=2):
    return value+by

print(cal(10))
def cal(value,by=2):
    return value+by

print(cal(10,1))

12
11