In [5]:
x=range(0,4) # 0 to 3 here 4 is excluded
for i in x:
    print(i)

0
1
2
3

In [20]:
x=range(4) # always starts from 0 by default
for i in x:
    print(i,end=" ")
print("\n")
y=range(5,9)
for i in y:
    print(i,end=" ")
print("\n")
r=range(3,20,2) # increment by 2
for i in r:
    print(i,end=" ")
print("\n")
r=range(3,20,-2) # increment by 2
for i in r:
    print(i,end=" ")

0 1 2 3

5 6 7 8

3 5 7 9 11 13 15 17 19

In [41]:
r=range(20,3,-2) # decrement by 2
for i in r:
    print(i,end=" ")

20 18 16 14 12 10 8 6 4

In [42]:
# list can store multiple data type and values are changable

In [26]:
#Lists are used to store multiple items in a single variable.
list1=["My",10,"Hello"]
print(list1)
for i in list1:
    print(i, end=" ") # 1st appraoch

['My', 10, 'Hello']
My 10 Hello

In [30]:
list1=["My",10,"Hello"] # 2nd approch
for i in range(len(list1)):
    print(list1[i], end=" ") # 2nd approach

My 10 Hello

In [36]:
#modify list
list1=["My",10,"Hello"]
print(list1[0])
list1[0]="Mahin"
print(list1[0])

My
Mahin

In [37]:
li=["Mahin", 12,"Mahin", 12] # allows multiple same values 
print(len(li))
for i in li:
    print(i,end=" ")

4
Mahin 12 Mahin 12

In [1]:
# list create by the list() contructor
list1=list(("Mahin",10,"Atul"))
for i in list1:
    print(i, end=" ")

Mahin 10 Atul

In [2]:
#Access list iteams
li=["Hello",10,"Hi",True]
print(li[3])

True

In [5]:
# Negative Indexing: means indexing start from the end
# Normally it starts from the o index
li=[1,2,3,4,5,6]
print(li[-1])
lis=["apple","orange","banana"]
print(lis[-2])
print(lis[0:2])# range where the right value is always excluded and starts from the 0 index

6
orange
['apple', 'orange']

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [9]:
# range of neagitve index
llis=["apple","banana","cherry","orange","kiwi","melon","mango"]
print(llis[-4:-1])
print()

['orange', 'kiwi', 'melon']

In [15]:
#check items in the list i have tryed these
lis=["apple","banana","cherry","melon"]
if lis[0]=="apple" in lis:
    print("Yes exsist")
#2nd approach 
lis=["apple","banana","cherry","melon"]
if "apple" in lis:
    print("Yes exsist apple exsist")
lis=["apple","banana","cherry","melon"]
if "Apple" in lis:
    print("Yes exsist apple exsist")

else:
    print("Apple not exsist")

Yes exsist
Yes exsist apple exsist
Apple not exsist

In [19]:
#change value item in list
lis=["apple","banana","cherry","melon"]
for i in range(len(lis)):
    print(lis[i],end=" ")
print("\n")
lis[0]="Apple"
for i in range(len(lis)):
    print(lis[i],end=" ")

apple banana cherry melon

Apple banana cherry melon

In [21]:
# change range of item
lis=["apple","banana","cherry","melon"]
print(lis)
lis[0:2]=["Apple","Banana"]
print(lis)

['apple', 'banana', 'cherry', 'melon']
['Apple', 'Banana', 'cherry', 'melon']

In [22]:
lis=["apple","banana","cherry","melon"]
print(lis)
lis[0:2]=["Apple"] #Change the second and third value by replacing it with one value:
print(lis)

['apple', 'banana', 'cherry', 'melon']
['Apple', 'cherry', 'melon']

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"] #Change the second and third value by replacing it with one value:
print(lis)
print(thislist)

['apple', 'watermelon']

In [25]:
# insert value
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,"orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [28]:
# add list item in the last
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [30]:
#To append elements from another list to the current list, use the extend() method.
getcopy=["My","name"]
copy=["is","Mahin"]
getcopy.extend(copy)
print(getcopy)

['My', 'name', 'is', 'Mahin']

In [33]:
#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
getcopy=["My","name"]
copy=("is","Mahin")
getcopy.extend(copy)
print(getcopy)

['My', 'name', 'is', 'Mahin']

In [37]:
#Remove list item
lis=["apple","banana","cherry","melon"]
lis.remove(lis[0])#by index
print(lis)
lis=["apple","banana","cherry","melon"]
lis.remove("apple")# by value
print(lis)

['banana', 'cherry', 'melon']
['banana', 'cherry', 'melon']

In [40]:
# as list can store multiple same values it so by remove method it will only remove only the first value
lis=["apple","banana","apple","cherry","melon"]
lis.remove("apple")
print(lis)

['banana', 'apple', 'cherry', 'melon']

In [46]:
# remove specifc index\
lis=["apple","banana","cherry","melon"]
lis.remove(lis[0])#by index
# by pop method
print(lis)
lis=["apple","banana","cherry","melon"]
lis.pop(0)
print(lis)
# remove the last item
lis=["apple","banana","cherry","melon"]
lis.pop()
print(lis)
'''lis=["apple","banana","cherry","melon"]
lis.remove(len(lis))
print(lis)
'''

['banana', 'cherry', 'melon']
['banana', 'cherry', 'melon']
['apple', 'banana', 'cherry']

'lis=["apple","banana","cherry","melon"]\nlis.remove(len(lis))\nprint(lis)\n'

In [47]:
#The del keyword also removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [48]:
#The clear() method empties the list.

# The list still remains, but it has no content.

lis=[1,2,3,4]
lis.clear()
print(lis)

[]

In [56]:
# using loop and range
#for loop
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x, end=" ")
print("\n")
    
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i], end=" ")
print("\n")
# while loop
lis=[1,2,3]
i=0
while i<len(lis):
    print(lis[i], end=" ")
    i=i+1
print("\n")

apple banana cherry

apple banana cherry

1 2 3

In [58]:
#List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
fruits=["apple","orange","banana"]
new=[]
print(new)
for x in fruits: # FOR COPYING
    new.append(x)
print(new)

[]
['apple', 'orange', 'banana']

In [62]:
fruits = ["apple", "banana", "cherry", "kiwi", "mangoy"]
newlist = []

for x in fruits:
  if "apple" in x: # filter the value and then store it
    newlist.append(x)

print(newlist)

['apple']

In [65]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits ]

print(newlist)
# by filtering some specific values
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x ]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'mango']

In [68]:
x="my name is Mahin"
print("mahin" in x)
print("M" in x)
print("Mahin" in x)

False
True
True

In [69]:
#sort list Sort List Alphanumerically
this=["apple","orange","kiwi","banana"]
print(this)
this.sort()
print(this)

['apple', 'orange', 'kiwi', 'banana']
['apple', 'banana', 'kiwi', 'orange']

In [77]:
#Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
thislist.sort(reverse=True)
print(thislist)

[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

In [75]:
# To sort descending, use the keyword argument reverse = True:

this=["apple","orange","kiwi","banana"]
print(this)
this.sort()
print(this)
this.sort(reverse=True)
print(this)

# for number
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

['apple', 'orange', 'kiwi', 'banana']
['apple', 'banana', 'kiwi', 'orange']
['orange', 'kiwi', 'banana', 'apple']
[100, 82, 65, 50, 23]

In [78]:
# Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [82]:
# Case Insensitive Sort can give unexpected result
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)
thislist = ["banana", "orange", "kiwi", "cherry"]
thislist.sort()
print(thislist)

# solution
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'kiwi', 'orange']
['banana', 'cherry', 'Kiwi', 'Orange']

In [84]:
sr="My name is Atul"
print(sr.upper())
print(sr.lower())

MY NAME IS ATUL
my name is atul

In [87]:
# just reverse the values
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)
sr=[10,0,30]
sr.reverse()
print(sr)

['cherry', 'Kiwi', 'Orange', 'banana']
[30, 0, 10]

In [3]:
# copy list
thislist = ["banana", "Orange", "Kiwi", "cherry"]
mylist=thislist.copy()
print(mylist)
print(type(mylist))

['banana', 'Orange', 'Kiwi', 'cherry']
<class 'list'>

In [5]:
# copy list by list() method
thislist = ["banana", "Orange", "Kiwi", "cherry"]
mylist=list(thislist)
print(mylist)
print(type(mylist))

['banana', 'Orange', 'Kiwi', 'cherry']
<class 'list'>

In [8]:
#Make a copy of a list with the : operator:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
mylist=thislist[:]
print(mylist)
print(type(mylist))

['banana', 'Orange', 'Kiwi', 'cherry']
<class 'list'>

In [10]:
# join list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)
list4=list2+list1
print(list4)

['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 'a', 'b', 'c']

In [11]:
# Another way to join two lists is by appending all the items from list2 into list1, one by one:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [12]:
#
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#list methods