In [ ]:
#A set is a collection which is unordered, unchangeable*, and unindexed.
#* Note: Set items are unchangeable, but you can remove items and add new items.
# Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
# Duplicates Not Allowed
# Note: Both union() and update() will exclude any duplicate items.

In [5]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
for i in thisset:
    print(i,end=" ")

{'banana', 'apple', 'cherry'}
banana apple cherry

In [6]:
# Duplicate values will be ignored: means not allowed
thisset = {"apple", "banana", "cherry","apple"}
print(thisset)
for i in thisset:
    print(i,end=" ")
print("\n")
print(len(thisset))
print(type(thisset))
print("apple" in thisset)

{'cherry', 'banana', 'apple'}
cherry banana apple

3
<class 'set'>
True

In [12]:
#True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)
print(len(thisset))

{True, 2, 'cherry', 'apple', 'banana'}
5

In [11]:
#Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

thisset = {"apple", "banana", "cherry", False, True,1, 0}

print(thisset)
print(len(thisset))

{False, True, 'cherry', 'apple', 'banana'}
5

In [13]:
# can store multiple datatype
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [15]:
# Access set values
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [16]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [17]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [19]:
#Once a set is created, you cannot change its items, but you can add new items.

# add iteams
#Add an item to a set, using the add() method
thisset = {"apple", "banana", "cherry"}
thisset.add("mango")
print(thisset)

{'mango', 'cherry', 'banana', 'apple'}

In [20]:
#To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'cherry', 'apple', 'mango', 'banana', 'papaya'}

In [23]:
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
print(len(thisset))
thisset.update(mylist)
print(thisset)
print(len(thisset))

3
{'apple', 'kiwi', 'cherry', 'orange', 'banana'}
5

In [24]:
# remove 
#To remove an item in a set, use the remove(), or the discard() method.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [25]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [26]:
#Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [27]:
# The clear() method empties the set:


thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [28]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [29]:
#loops for loop
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [31]:
# The union() method returns a new set with all items from both sets.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)
set4=set1|set2 # same as union() and |
print(set4)

{'c', 1, 2, 3, 'a', 'b'}
{'c', 1, 2, 3, 'a', 'b'}

In [32]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'apple', 'a', 'b', 'Elena', 'c', 'cherry', 'bananas', 'John'}

In [33]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'apple', 'a', 'b', 'Elena', 'c', 'cherry', 'bananas', 'John'}

In [34]:
# join set and tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
#Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

In [35]:
#The update() method inserts all items from one set into another.

#The update() changes the original set, and does not return a new set.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

In [ ]:
'''
Method	Shortcut	Description
add()	 	Adds an element to the set
clear()	 	Removes all the elements from the set
copy()	 	Returns a copy of the set
difference()	-	Returns a set containing the difference between two or more sets
difference_update()	-=	Removes the items in this set that are also included in another, specified set
discard()	 	Remove the specified item
intersection()	&	Returns a set, that is the intersection of two other sets
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	Returns whether two sets have a intersection or not
issubset()	<=	Returns whether another set contains this set or not
 	<	Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
pop()	 	Removes an element from the set
remove()	 	Removes the specified element
symmetric_difference()	^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	|	Return a set containing the union of sets
update()	|=	Update the set with the union of this set and others'''