In [1]:
# Tuples can also store multiple data types but its value can not be changed and in first brackets ()
#Tuple items are ordered, unchangeable, and allow duplicate values.
# Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
'''List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.
'''

In [1]:
name=("Mahin","Sarkar","Atul",10)
print(name)
for i in name:
    print(i, end=" ")

('Mahin', 'Sarkar', 'Atul', 10)
Mahin Sarkar Atul 10

In [6]:
#access tuple
name=("Mahin","Sarkar","Atul")
print(name[0])

Mahin

In [5]:
# allow duplicate value
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(type(thistuple))
print(len(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
<class 'tuple'>
5

In [7]:
# tuple of one element One item tuple, remember the comma:

this=("Mango",)
print(this)
print(type(this))
print(len(this))

('Mango',)
<class 'tuple'>
1

In [8]:
#String, int and boolean data types:
tuple1 = ("apple", "banana", "cherry",1)
tuple2 = (1, 5, 7, 9, 3,"Mango")
tuple3 = (True, False, False)

In [10]:
# Using the tuple() method to make a tuple:

thistuple=tuple(("apple","mango","banana"))
print(thistuple)
print(type(thistuple))
print(len(thistuple))

('apple', 'mango', 'banana')
<class 'tuple'>
3

In [11]:
#access tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [12]:
# Negative Indexing Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [14]:
# Range starts from 0 index
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [17]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [21]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, exsist in the fruits tuple") #match each element


thistuple = ("apple", "banana", "cherry")
if thistuple[0]=="apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, exsist in the fruits tuple
Yes, 'apple' is in the fruits tuple

In [23]:
# update we basically can not do it 
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x) # list((values))
y[1] = "kiwi" #updating
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [27]:
# add item same approach
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')

In [30]:
# Add tuple to a tuple.
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)
#my
z=("mango",)
thistuple=thistuple+z
print(thistuple)

('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry', 'orange', 'mango')

In [32]:
# to ramove first we have to convert it into list the remove item from there
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
('banana', 'cherry')

In [34]:
# delete entire tuple
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [36]:
#Unpacking a Tuple
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
fruits = ("apple", "banana", "cherry")
print(fruits)
# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

# getting the values in variable
(green, yellow, red) = fruits
print(fruits)
print(green)
print(yellow)
print(red)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')
apple
banana
cherry

In [37]:
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [38]:
#If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [39]:
# Loop Through a Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [40]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [41]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [42]:
#join tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [43]:
#multiply tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
#count()	Returns the number of times a specified value occurs in a tuple
#index()	Searches the tuple for a specified value and returns the position of where it was found